body{
    background-image: url('./images/background1.jpg');
    background-position: center;
    background-size: cover;
    color: Black;
}
#details{
    display: none;
}
.ar{
    direction: rtl;
}
header .wrapper{
    border: 1px solid black;
    margin-inline: 130px ;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
header .wrapper img{
    height: 130px;
}
.wrapper{
    text-align: center;
}

main{
    margin-inline: 10%;
    margin-top: 30px;
}
.flex-view{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* gap:20px; */
    justify-content: space-between;
    gap: 20px;
}
.actions{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}
.card{
    width: 30%;
    text-align: center;
    padding-block:20px;
}
.lang_logo{
    height: 50px;
    /* width: 50px; */
    max-width: 200px;
}
#toggleBtn{
    height: 30px;
    align-self: center;
}